.node {
    stroke: #444;
    stroke-width: 1;
}


.running {
    stroke: #ff0000;
    stroke-width: 3;
}

.finished {
    stroke: #008000;
    stroke-width: 3;
}

.barrier {
    fill: #f4daa6;
}

.edge {
    fill: none;
    stroke: #222;
    stroke-width: 1;
}

.edge.arrow {
    fill: #888;
}

.text {
    stroke-width: 0;
    stroke: #000;
    fill: #000;
    font-family: sans-serif;
    font-size: 11pt;
    text-anchor: middle;
}

.selected {
    stroke-width: 5;
}

.mouseover {
    stroke: #f4daa6;
}

.missing {
    stroke-width: 1;
    stroke: #f00;
    fill: #f00;
    font-family: SansSerif;
    font-size: 14pt;
}

.popup-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.popup-body > p {
    margin-bottom: 2px;
}
