.node {
    stroke: #444;
    stroke-width: 1;
}

.task {
    fill: #c0e0fc;
}

.running {
    fill: #f00;
}

.finished {
    fill: #0f0;
}

.barrier {
    fill: #f4daa6;
}

.edge {
    fill: none;
    stroke: #222;
    stroke-width: 1;
}

.edge.arrow {
    fill: #888;
}

.text {
    stroke-width: 0;
    stroke: #000;
    fill: #000;
    font-family: sans-serif;
    font-size: 11pt;
    text-anchor: middle;
}

.selected {
    stroke-width: 3;
}

.mouseover {
    stroke-width: 3;
}

.missing {
    stroke-width: 1;
    stroke: #f00;
    fill: #f00;
    font-family: SansSerif;
    font-size: 14pt;
}
