.node {
    fill: #cdc;
    stroke: #152;
    stroke-width: 0;
    font-weight: bold;

    /* properties for vbox */
    line-height: 10px;
    padding: 10px;
    text-align: center;
}

.comp {
    line-height: 3px;
    font-weight: normal;
    text-align: left;
}

.graph {
    font-size: 15pt;
}

.label {
    stroke-width: 0;
    fill: #000;
    font-weight: inherit;
    text-align: inherit;
}

.node.selected {
    stroke: #152;
    stroke-width: 5;
}

.missing {
    stroke-width: 1;
    stroke: #f00;
    fill: #f00;
    font-size: 14pt;
    text-anchor: middle;
}

.mouseover {
    stroke: #152;
    stroke-width: 3;
}

.popup-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.popup-body > p {
    margin-bottom: 2px;
}

.edge {
    fill: none;
    stroke: #488;
    stroke-width: 2px;
}

.edge.edit path {
    stroke: #00F;
}

.edge.mouseover path{
    stroke-width: 6px;
}

.edge.edit.mouseover path{
    stroke-width: 2px;
}

.edge.edit .routingpoint {
    fill: #88f;
    stroke: none;
}

.edge .routingpoint.selected {
    fill: #4f4;
    stroke: none;
}

.edge .routingpoint.volatile {
    opacity: 0.5;
    z-index: 1000;
}

.edge .routingpoint.mouseover {
    stroke: #ff7f24;
}
