.copyright {
    margin-top: 10px;
    text-align: right;
    font-size: 10px;
    color: #888;
}

.help {
    margin-top: 24px;
    text-align: right;
    font-size: 16px;
    color: #888;
}

svg {
    margin-top: 15px;
    width: 100%;
    height: 500px;
    border-style: solid;
    border-width: 1px;
    border-color: #bbb;
}
