.core {
    stroke: #666;
    stroke-width: 1;
    rx: 4;
    ry: 4;
}

.crossbar {
    fill: #aaa;
    stroke: #333;
    stroke-width: 1;
}

.channel {
    stroke: #666;
    stroke-width: 1;
}

.selected {
    stroke: #dd8;
    stroke-width: 6;
}

.heading {
    stroke-width: 0;
    stroke: #000;
    fill: #000;
    font-size: 9pt;
    font-weight: bold;
    text-anchor: middle;
}

.info {
    stroke-width: 0;
    stroke: #000;
    fill: #000;
    font-size: 4pt;
    text-anchor: start;
}

.missing {
    stroke-width: 1;
    stroke: #f00;
    fill: #f00;
    font-size: 14pt;
    text-anchor: middle;
}
