.core {
    stroke: #666;
    stroke-width: 1;
    rx: 4;
    ry: 4;
}

.crossbar {
    fill: #aaa;
    stroke: #333;
    stroke-width: 1;
}

.channel {
    stroke: #666;
    stroke-width: 1;
}

.selected {
    stroke: #dd8;
    stroke-width: 6;
}

.text {
    stroke-width: 1;
    stroke: #000;
    fill: #000;
    font-family: SansSerif;
    font-size: 10pt;
}

.missing {
    stroke-width: 1;
    stroke: #f00;
    fill: #f00;
    font-family: SansSerif;
    font-size: 14pt;
}
