.core {
    stroke: #666;
    stroke-width: 1;
    rx: 4;
    ry: 4;
    line-height: 1px;
}

.crossbar {
    fill: #aaa;
    stroke: #333;
    stroke-width: 0;
}

.channel {
    stroke: #666;
    stroke-width: 1;
}

.label {
    stroke-width: 0;
    fill: #000;
    font-weight: inherit;
}

.core.selected {
    stroke-width: 3;
}

.mouseover {
    stroke: #f4daa6;
}

.heading {
    stroke-width: 0;
    stroke: #000;
    fill: #000;
    font-size: 9pt;
    font-weight: bold;
    text-align: center;
}

.info {
    stroke-width: 0;
    stroke: #000;
    fill: #000;
    font-size: 4pt;
    text-align: start;
}

.comp {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 0px;
}

.missing {
    stroke-width: 1;
    stroke: #f00;
    fill: #f00;
    font-size: 14pt;
    text-anchor: middle;
}

.popup-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.popup-body > p {
    margin-bottom: 2px;
}
