.node {
    fill: #aae;
    stroke: #66b;
    stroke-width: 3;
    rx: 4;
    ry: 4;
}

.edge {
    fill: #8cc;
    stroke: #488;
    stroke-width: 2;
}

.selected {
    stroke: #dd8;
    stroke-width: 6;
}

.text {
    stroke-width: 1;
    stroke: #000;
    fill: #000;
    font-family: SansSerif;
    font-size: 10pt;
}