.node {
    fill: #aae;
    stroke: #66b;
    stroke-width: 3;
    rx: 4;
    ry: 4;
}

.edge {
    fill: #8cc;
    stroke: #488;
    stroke-width: 2;
}

.selected {
    stroke: #dd8;
    stroke-width: 6;
}

.sprotte {
/*
    height: 480px;
    width:  640px;
    overflow: scroll;
 */
}

.graph {
/*
    width: 1024px;
    height: 768px;
 */
}